//Colors
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark: #5643fa;


$color-grey-dark: #777;
$color-grey-1: #f7f7f7;
$color-grey-2: #333;
$color-grey-light: #eee;

$color-white: #fff;
$color-black:#000;

//Width

$max-width: 114rem;
$gutter-trans:6rem;
$gutter-long:8rem;


//font
$default-font-size: 1.5rem;

//box-shadow
$default-box-shadow: 0 4px 0.5px rgba(0, 0, 0, 0.2);