.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 50rem;
    position: relative;
    &__side{
        height: 50rem;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .8s ease;
        backface-visibility: hidden;
        border-radius: 3px;
        &--front{
          background-color: $color-white;
        }
        &--back{
            position: relative;
            transform: rotateY(180deg);
            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-2{
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-3{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
           
        }
    }
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);  
    }
    //front card functionalities
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);//xy xy xy xy
        &-1{
            background-image:  linear-gradient(to right bottom,
                                      $color-secondary-light,
                                      $color-secondary-dark),
                                      url(../img/nat1.jpg);  
        }
        &-2{
            background-image:  linear-gradient(to right bottom,
                                      $color-primary-light,
                                      $color-primary-dark),
                                      url(../img/feat1.jpg);
            
        }
        &-3{
            background-image:  linear-gradient(to right bottom,
                                      $color-tertiary-light,
                                      $color-tertiary-dark),
                                      url(../img/nat2.jpg);
            
        }
    }
    &__heading{
        font-size: 3rem;
        text-align: right;
        color: $color-white;
        text-transform: uppercase;
        width:75%;
        position: absolute;
        top: 12rem;
        right: 2rem;
    }

    &__heading-span{
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &-1{
            background-image: linear-gradient(to right bottom,
            rgba($color-secondary-light, .9),
            rgba($color-secondary-dark, .9));    
        }
        &-2{
            background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, .9),
            rgba($color-primary-dark, .9));    
        }
        &-3{
            background-image: linear-gradient(to right bottom,
            rgba($color-tertiary-light, .9),
            rgba($color-tertiary-dark, .9));    
        }
    }
    &__detail{
        padding: 4rem 0 1rem;
        ul{
            width: 80%;
            margin: 0 auto;
            list-style: none;
        }
        li{
            text-align: center;
            font-size: $default-font-size;
            font-weight: 400;
            &:not(:last-child){
                margin-bottom: 1.5rem;
                border-bottom: .1rem solid $color-grey-light;
            }
        }
    }
    &__box {
        position: absolute;
        top:4rem;
        right: 5rem;
        width: 60%;
        color: $color-white;
        text-transform: uppercase;
        dt{
            margin: 6rem 0 .1rem;
            font-size: 1rem;
        }
         dd{
            font-size: 6rem;
            margin: 4rem 0;
        }
    }
}